:root {
--background-image-blur: 0px;
} 
/* ---- Main Background ---- */
#app-mount::before {
content: "";
position: absolute;
background: linear-gradient(
    90deg,
    rgb(143, 51, 236) 0%,
    rgb(247, 34, 186) 50%,
    rgb(250, 107, 107) 100%
);
height: calc(100vh + (var(--background-image-blur) * 2));
width: calc(100vw + (var(--background-image-blur) * 2));
}
#app-mount{
background-color: var(--background-tertiary);
}
#app-mount,
.bg-h5JY_x {
background-color: transparent;
}
